<!DOCTYPE html>
<html lang="en">
{% set navItems = ['oo', 'oo']%}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ escape(handler.settings["name"]) }}</title>



    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <!-- <script src="/static/tether/dist/js/tether.min.js"></script>
    <link rel="stylesheet" href="/static/tether/dist/css/tether.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.9/popper.min.js"></script> -->
    <!-- <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.css" />

    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

    <script src='/static/tinymce-dist/tinymce.min.js'></script>
    <script src="/static/unveil/jquery.unveil.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.css" />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>



    <script type="text/javascript">
      $(document).ready(function() {
        $("img").unveil(2000);
      });

      $("<img/>")
          .on('load', function() { console.log("image loaded correctly"); })
          .on('error', function() { console.log("error loading image"); })
          .attr("src", $("originalImage").attr("src"))
      ;
    </script>


<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
        background-color: #FFF;
      }

      .header li a{
        margin-right: 10px;
        text-decoration: none;
        font-family: Roboto, arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        color: #444444;
      }

      .header li a:hover{
        border-bottom: 3px solid #000;
        color: #000;
      }
      .header li a .active{
        border-bottom: 3px solid #000;
        font-weight: bold;
        color: #000;
      }

      .card-deck .card{
        margin: 0px;
        margin-bottom: 15px;
      }

      img {
        opacity: 1;
        transition: opacity .3s ease-in;
      } 

      .status{
        height: 0.75em;
        width: 100%;
      }

      .status-0{
        background-color: #d7ccc8;
      }
      .status-1{
        background-color: #ffeb3b;
      }

      .status-2{
        background-color: #8bc34a;
      }

      .status-3{
        background-color: #ffc107;
      }

      .status-4{
        background-color: #f44336;
      }


      </style>

  <script type="text/javascript">
    

      $("img").unveil(200, function() {
        $(this).load(function() {
          this.style.opacity = 1;
        });
      });


  </script>

    
  {% block head %}{% end %}
</head>
<body><div id="wrapper">
  <!--{% include 'nav.hbs' %}-->

        <div class="header">

  <div class="container">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">{{ _("Home")}}</a></li>
          <li><a href="/modules/">{{ _("Modules")}}</a>
          <li><a href="#">{{ _("About")}}</a></li>
          <li><a href="#">{{ _("Contact")}}</a></li>
          <li>{%if current_user %} <a href="/logout/">{{ _("Log out")}} {{current_user['name']}} {%else%} <a href="/login/"> {{ _("Log in") }} {%end%}</a></li>
        </ul>
        <h3 class="muted"><a href="/"><img src="/static/logo.png" height="35pt" alt="MLAB"></img></a></h3>
        </div>
      </div>

      <hr>
      {{_("Lang")}}
      {{locale.name}}



  <div class="container">
  <br>
      <div class="container-fluid">


          <div class="row">

              <div class="col-lg-12">
                <div class="container">
                    {% block content %}{% end %}
                </div>
              </div>
          </div>
      </div>
  </div>

  <div>
  {% include 'footer.hbs' %}
  </div>
  <!-- <script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script> -->
  


</div></body>
</html>

