
{% extends "base.hbs" %}
{% block content %}


<style type="text/css">
	.container{
		min-width: 100%;
	}
	input[type='checkbox']{
		background-color: red;
	}
	th{
		padding-left: 0px;
		padding-right: 15px;
	}
</style>


<div class="container">
  <div class="row">
    

	
	<table class="table table-striped table-hover table-sm">
		<tr><th>#</th>
		<th>Název</th>
		<th>cesta</th>
		<th>výchozi složka</th>
		<th>CZ</th>
		<th>EN</th></tr>

		{% for cat in categories %}
		<tr><td></td>
		<td>{{cat['_id']}}</td>
		<td>{{cat['path']}}</td>
		<td>{{cat['path']}}</td>
		<td>{{cat['cs']}}</td>
		<td>{{cat['en']}}</td>
		</tr>
		{% end %}
	</table>
  </div>
</div>


{% end %}
