
{% extends "base.hbs" %}
{% block content %}

<style type="text/css">
  .card{
    margin-bottom: 15px;
  }
  .card-gallery{

    margin: 0px;
    padding: 0px;
  }

</style>

<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
  });

</script>



{% for cat in module_data.get('category[]', []) %}

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="/modules/{{cat}}/">{{cat}}</a>
  <span class="breadcrumb-item active">{{module_data['name']}}</span>
</nav>
{% end %}

{#{%for cat in _sql("SELECT * FROM Categories INNER JOIN module_to_category ON module_to_category.category = Categories.id WHERE module_to_category.module = '%s';" %(module_data['_id'])) %}
{%for cat in db_web.Modules.Find() %}

{{cat['name_cs']}}
{%end%}#}

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">

      {% if not module_data['image']%}
      <img class="card-img-top" src="/static/noimage.png">
      {% else %}
      <img class="card-img-top" src="/static/noimage.png" data-src="/repos/{{module_data['root']}}/{{module_data['image']}}" alt="Module">
      {% end %}

      <div class="status status-{{module_data['status']}}"></div>

      <div class="card-block" style="padding: 10pt;">

            <div style="margin-bottom: 8pt;">{% for tag in module_data.get('category[]', []) %}
              <span class="badge badge-pill badge-success">{{tag}}</span>
            {%end%}</div>
        <h2 class="card-title">{{module_data['name']}}</h2>
        <h4 class="card-subtitle mb-2 text-muted">{{module_data[_('longname_cs')]}}</h4>
        <!-- <h4 class="card-subtitle mb-2 text-muted">{{module_data['longname_en']}}</h4> -->
        <p class="card-text">{{module_data[_('short_cs')]}}</p>
        <a href="https://github.com/MLAB-project/Modules/tree/master/{{module_data['root']}}"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        {# <a href="https://github.com/roman-dvorak/Modules/tree/master/{{module_data['root']}}"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a> #}
        {% if module_data['wiki'] != None and str(module_data['wiki']) != 'None'%} <a href="{{module_data['wiki']}}"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a> {% else %} <a href="http://wiki.mlab.cz/doku.php?id={{_("lang_short")}}:{{module_data['name'][:-3]}}"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a> {% end %}
        {% if module_data['ust'] != None and str(module_data['ust']) != 'None'%} <a href="{{module_data['ust']}}"><i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i></a> {% end %}
        {% if current_user and current_user['is_staff'] %}<a href="/module/{{module_data.get('name', '')}}/edit"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a> {% end %}
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card"  style="border-color: #fff;">
  
      <div class="card-block card-gallery">
        {% if len(module_data.get('parameters', [])) > 0 %}
        <table style="width: 100%;" class="table-responsive table-condensed table-bordered table-hover">
          <thead>
            <th>Parametr</th>
            <th>Hodnota</th>
            <th>Popis</th>
          </thead><tbody>
        {% for param in module_data.get('parameters',[]) %}
            <tr>
              <td>{{param['name']}}</td>
              <td>{{param['value']}} {{param['unit']}}</td>
              <td>{{param.get('description_cs', '')}}</td>
            </tr>
        {% end %}
        </tbody><tfoot><tr></tr></tfoot>
        </table><br>
        {% end %}
        {# {{images}} #}
          <div class="">
          {% for image in images %}
              <a href="/repos/{{image[14:]}}" data-toggle="lightbox" data-gallery="example-gallery" style="padding-right: 4px; margin-top: 10pt">
                  <img src="/repos/{{image[14:]}}" class="img-thumbnail rounded" style="padding: 0pt; width: calc(33% - 5px);">
              </a>
          {% end %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
      <div class="card">  <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#en" role="tab">English description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#cs" role="tab">Czech description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#download" role="tab" distabled>Download</a>
        </li>
      </ul>
    </div>
      <div class="card-block tab-content">
        <div class="tab-pane" id="cs" role="tabpanel" style="padding: 10pt;">
        {% raw module_data['doc_cs'] %}
        </div>
        <div class="tab-pane active" id="en" role="tabpanel" style="padding: 10pt;">
        {% raw module_data['doc_en'] %}
        </div>
        <div class="tab-pane" id="download" role="tabpanel" style="padding: 10pt;">
            {% for documet in documents %}
              <li><a href="https://github.com/MLAB-project/Modules/tree/master/{{documet[14:]}}">{{documet[14:]}}</a></li>
            {% end %}
        </div>
      </div>
    </div>
  </div>

</div>
</div> <!-- containte -->




{% end %}
