
{% extends "base.hbs" %}
{% block content %}

<style type="text/css">
	
	.container{
		min-width: 100%;
	}

	input[type='checkbox']{
		background-color: red;
	}

	th{
		padding-left: 0px;
		padding-right: 15px;
	}

</style>
	
	<table class="table table-striped table-hover table-sm">
		<tr><th>#</th>
		<th>Název</th>
		<th>Složka</th>
		<th>Kategorie</th>
		<th>Autor</th>
		<th>Obr</th>
		<th>wiki</th>
		<th>ust</th>
		<th>Para</th>
		<th>cs jmeno</th>
		<th>cs perex</th>
		<th>cs doc</th>
		<th>en jmeno</th>
		<th>en perex</th>
		<th>en doc</th>
		<th>type</th>
		<th>mark</th></tr>

	{%for i, module in enumerate(modules)%}

		{% if i % 31 ==0 %}

		{% end %}

		<tr>
			{# {{module}}
			<hr> #}
			{% try %}
				{# <div class="module">{{module['name']}}{{module}} <small>edit</small></div> #}
				<td class="status-{{module['status']}}">{{i}}</td>
				<td><b><a href="/module/{{module['name']}}/">{{module['name']}}</a>  <small><a href="/module/{{module['name']}}/edit/">edit</a></small></b></td>
				<td><small>{{module['root']}}</small></td>
				<td>{% for el in module.get('category[]', []) %} {{el}} {%end%}</td>
				<td>{% for el in module.get('author[]', []) %} {{el}} {%end%}</td>
				<td  data-toggle="tooltip" data-placement="top" title="{{module['image']}}">{% if module['image'] and 'QRcode' in module['image']%}<i class="fa fa-qrcode" aria-hidden="true"></i>{% elif module['image'] and len(module['image']) > 10 %}<a href="/repos/{{module['root']}}/{{module['image']}}"><i class="fa fa-check" aria-hidden="true"></i></a> {% else %}<i class="fa fa-times" aria-hidden="true"></i>  {{module['image']}}{%end%}</td>
				<td  data-toggle="tooltip" data-placement="top" title="{{module['wiki']}}">{% if module['wiki'] and len(module['wiki']) > 10 %}<a href="{{module['wiki']}}"><i class="fa fa-check" aria-hidden="true"></i></a> {% else %}<i class="fa fa-times" aria-hidden="true"></i>{%end%}</td>

				<td  data-toggle="tooltip" data-placement="top" title="{{module['ust']}}"> {% if module['ust'] and len(module['ust']) > 10 %}<a href="{{module['ust']}}"><i class="fa fa-check" aria-hidden="true"></i></a> {% else %}<i class="fa fa-times" aria-hidden="true"></i>{%end%}</td>
				<td>{{len(module.get('parameters', []))}}</td>
				{% if module['longname_cs']%}<td>{{len(module['longname_cs'])}}{%else%}<td><i class="fa fa-times" aria-hidden="true"></i>{%end%}</td>
				{% if module['short_cs']   %}<td>{{len(module['short_cs'])}}{% else %}<td><i class="fa fa-times" aria-hidden="true"></i>{%end%}</td>
				{% if module['doc_cs']     %}<td>{{len(module['doc_cs'])}}{% else %}<td><i class="fa fa-times" aria-hidden="true"></i>{%end%}</td>
				{% if module['longname_en']%}<td>{{len(module['longname_en'])}}{% else %}<td><i class="fa fa-times" aria-hidden="true"></i>{%end%}</td>
				{% if module['short_en']   %}<td>{{len(module['short_en'])}}{% else %}<td><i class="fa fa-times" aria-hidden="true"></i>{%end%}</td>
				{% if module['doc_en']     %}<td>{{len(module['doc_en'])}}{% else %}<td><i class="fa fa-times" aria-hidden="true"></i>{%end%}</td>
				<td></td>
				<td>{{module['mark']}}</td>
			{% except Exception as e %}
				Err {{e}}
			{% end %}
		</tr>
	{% end %}

			<tr><th>#</th>
			<th>Název</th>
			<th>Složka</th>
			<th>Autor</th>
			<th>Obrázek</th>
			<th>wiki</th>
			<th>ust</th>
			<th>cs jmeno</th>
			<th>cs perex</th>
			<th>cs doc</th>
			<th>en jmeno</th>
			<th>en perex</th>
			<th>en doc</th>
			<th>type</th>
			<th>mark</th></tr>


	</table>



{% end %}

