
{% extends "base.hbs" %}
{% block content %}



<style type="text/css">
	.card{
		margin: 0px;
	    margin-bottom: 20px;
	    margin-left: -5px;
	    margin-right: -5px;

	}
	.col-sm-3 {
		margin: 0px;
	    margin-bottom: 15px;
	    margin-left: 0px;
	    margin-right: 0px;

	}

	ul {
    -moz-column-count: 5;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-count: 5;
    column-gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.status{
	height: 0.75em;
	width: 100%;
}

.status-0{
	background-color: lightgray;
}
.status-1{
	background-color: yellow;
}

.status-2{
	background-color: green;
}

.status-3{
	background-color: orange;
}

.status-4{
	background-color: red;
}

a.selected{
	font-weight: bold;
}

</style>


<h3> kategorie {{category}}</h3> 
<ul class="columns">
{% for cat in _sql("SELECT* FROM Categories ORDER by name;")%}
	<li> <a href="/modules/{{cat['name']}}/" class="{%if category == cat['name']%}selected{%end%}">{{cat['name_cs']}}</a></li>

{% end %}
</ul>
<br>

{% if category %}
	{% set modules = _sql("SELECT * FROM `MLAB`.`module_to_category` INNER JOIN MLAB.Modules ON Modules.id = module_to_category.module WHERE `category` = (SELECT id from `MLAB`.`Categories` WHERE `Categories`.`name` = '%s' ORDER by name);" %(category)) %}
{% else %}
	{% set modules = _sql("SELECT * FROM Modules ORDER by name;") %}
{% end %}


<div class="row">
<div class="card-deck">
  
{% for module in modules %}
<div class="col-sm-4">
    <div class="card">
    	<a href="/module/{{module['name']}}/">
    	{% if not module['image']%}
    	<img class="card-img-top" src="/src/static/noimage.png" data-src="/repos/{{module['root']}}/DOC/SRC/img/{{module['name']}}_Top_Big.jpg" alt="{{module['name']}}">
    	{% else %}
    	<img class="card-img-top" src="/src/static/noimage.png" data-src="/repos/{{module['root']}}/{{module['image']}}" alt="{{module['name']}}">
    	{% end %}
    	</a>
		<div class="status status-{{module['status']}}"></div>
    	<div class="card-block">
    		
      	<h4 class="card-title"><a href="/module/{{module['name']}}/">{{module['name']}}</a></h4>
      	<p class="card-text">
			{{module['short_cs']}}
		</p>
		</div>
	    <div class="card-footer">
	      <small class="text-muted"><a href="/module/{{module['name']}}/">View</a> <a href="/module/{{module['name']}}/edit">edit</a></small>
	    </div>
	</div>
</div>
{% end %}

</div>
</div>
Zobrazeno <i>{{len(modules)}}</i> položek.

{% end %}

