
{% extends "base.hbs" %}
{% block content %}



<style type="text/css">
	.card{
		margin: 0px;
	    margin-bottom: 20px;
	    margin-left: -5px;
	    margin-right: -5px;

	}
	.col-sm-3 {
		margin: 0px;
	    margin-bottom: 15px;
	    margin-left: 0px;
	    margin-right: 0px;

	}

	ul {
    -moz-column-count: 5;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-count: 5;
    column-gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


a.selected{
	font-weight: bold;
}

</style>


<h3> kategorie {{category}}</h3> 

<div class="card" style="margin-left: -15px; margin-right: -15px;">
  <div class="card-block">
	<ul class="columns">
	{% for cat in _sql("SELECT* FROM Categories ORDER by name;")%}
		<li> <a href="/modules/{{cat['name']}}/" class="{%if category == cat['name']%}selected{%end%}">{{cat['name_cs']}}</a></li>

	{% end %}
	</ul>
  </div>
</div>

<p style="margin-left: -15px; margin-right: -15px;">
  <a class="btn btn-secondary" data-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter">
    Filtr
  </a>
  
</p>
<div class="collapse" id="filter" >
  <div class="card card-block" style="margin-left: -15px; margin-right: -15px;">
  	<form method="GET">
	<div class="row">
		<div class="col-sm-3">
			<h5>Status</h5>
				<div class="checkbox"><label><input type="checkbox" name="status" value="0" {% if status and '0' in status %} checked {%end%}><span class="status status-0" style="width: 0.75em; display: inline-block;border: solid 1px; margin-left: 7px;"></span>  Návrh </label></div>
				<div class="checkbox"><label><input type="checkbox" name="status" value="1" {% if status and '1' in status %} checked {%end%}><span class="status status-1" style="width: 0.75em; display: inline-block;border: solid 1px; margin-left: 7px;"></span>  V přípravě</label></div>
				<div class="checkbox"><label><input type="checkbox" name="status" value="2" {% if status and '2' in status %} checked {%end%}><span class="status status-2" style="width: 0.75em; display: inline-block;border: solid 1px; margin-left: 7px;"></span>  Produkce</label></div>
				<div class="checkbox"><label><input type="checkbox" name="status" value="3" {% if status and '3' in status %} checked {%end%}><span class="status status-3" style="width: 0.75em; display: inline-block;border: solid 1px; margin-left: 7px;"></span>  Nahrazen</label></div>
				<div class="checkbox"><label><input type="checkbox" name="status" value="4" {% if status and '4' in status %} checked {%end%}><span class="status status-4" style="width: 0.75em; display: inline-block;border: solid 1px; margin-left: 7px;"></span>  Starý</label></div>


		</div>
		<div class="col-sm-3">

		</div>
		<div class="col-sm-3">

		</div>
	</div>
	<input type="submit" value="Submit">
	</form>
  </div>
</div>


<div class="row">
<div class="card-deck">
  
{% for module in modules %}
<div class="col-sm-4">
    <div class="card">
    	<a href="/module/{{module['name']}}/">
    	{% if not module['image']%}
    	<img class="card-img-top" src="/static/loading.png" data-src="/repos/{{module['root']}}/DOC/SRC/img/{{module['name']}}_Top_Big.jpg" alt="{{module['name']}}">
    	{% else %}
    	<img class="card-img-top" src="/static/loading.png" data-src="/repos/{{module['root']}}/{{module['image']}}" alt="{{module['name']}}">
    	{% end %}
    	</a>
		<div class="status status-{{module['status']}}"></div>
    	<div class="card-block">
    		
      	<h4 class="card-title"><a href="/module/{{module['name']}}/">{{module['name']}}</a></h4>
      	<p class="card-text">
			{{module['short_cs']}}
		</p>
		</div>
		{%if current_user and current_user['is_staff'] %}
	    <div class="card-footer">
	      <small class="text-muted"><a href="/module/{{module['name']}}/edit">edit</a></small>
	    </div>{%end%}
	</div>
</div>
{% end %}

</div>
</div>
Zobrazeno <i>{{len(modules)}}</i> položek.

{% end %}

